<div layout="row">
    <div flex="20">
        <md-list-item ng-repeat="expense in expenses" ng-click="null">
            <md-card
                    layout-padding layout-margin
                    style="min-width: 200px; background-color: {{expense.category.color}}">

                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="color: #FFFFFF">{{expense.title}}</span>
                        <span class="md-subhead" style="color: #FFFFFF"><b>{{expense.amount}} EUR</b>, {{formatDate(expense)}}</span>
                        <span class="md-body-2" style="color: #FFFFFF">{{expense.category.name}}</span>
                    </md-card-title-text>
                </md-card-title>

            </md-card>
        </md-list-item>
    </div>

    <div layout="column" flex=60 layout="center stretch">
        <div layout="row" flex layout="center">
            <canvas style="max-height: 200px; max-width: 200px"
                    class="chart chart-doughnut"
                    chart-data="data" chart-labels="labels" chart-colors="colors">
            </canvas>
        </div>
        <div layout="row" flex layout="center">
            <canvas style="max-height: 500px; max-width: 500px"
                    class="chart chart-bar"
                    chart-data="barData" chart-labels="barLabels">
            </canvas>
        </div>
    </div>

    <div layout="column" flex="20" layout-align="end end" layout-margin>
        <md-button
                class="md-fab" style="background: #00695C"
                aria-label="Add Expense"
                ng-click="addExpense()">
            <md-icon md-svg-src="img/ic_add_white_24px.svg"></md-icon>
        </md-button>
    </div>
</div>