<div layout="column" layout-align="space-around center">
    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
        <input type="text" placeholder="Email" ng-required="true" ng-model="user.email">
    </md-input-container>

    <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon md-svg-src="img/ic_add_white_24px.svg" class="email"></md-icon>
        <input type="password" placeholder="Password" ng-required="true" ng-model="user.password">
    </md-input-container>

    <md-button class="md-raised" style="background: #00695C; color: #FFFFFF" ng-click="login()">Sign In</md-button>
</div>