<md-toolbar md-theme="genkin-theme">
  <div class="md-toolbar-tools">
    <h2 md-truncate>Genkin</h2>

    <md-button class="md-raised" ng-click="register()" ng-show="onLogin">Sign Up</md-button>
    <md-button class="md-raised" ng-click="login()" ng-show="!onLogin">Sign In</md-button>
    <md-button class="md-raised" ng-click="logout()" ng-show="logoutOn">Sign Out</md-button>
  </div>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="progress"></md-progress-linear>